<!-- Wrapper -->
<div id="wrapper">

<!-- Main -->
<section id="main">
	<header>
		<span class="avatar"><img src="{{ "/assets/images/avatar.jpg" | absolute_url }}" alt="" /></span>
		<h1>{{ site.your-name }}</h1>
	</header>
	<footer>
    		<ul class="icons">
			<li><a href="/resume/" class="fa-file-alt" target="_self">Résumé</a></li>
			<li><a href="/portfolio/" class="fa-folder-open" target="_self">Portfolio</a></li>
			<li><a href="{{ site.linkedin_url }}" class="fa-linkedin-in" target="_blank">LinkedIn</a></li>
		</ul>
	</footer>
