<!DOCTYPE HTML>

<html>
{% include pages-img-head.html %}
   
<body class="is-loading">
<div id="myModal" class="modal">
  <span class="close">&times;</span>
  <img class="modal-content" id="img01">
  <div id="caption"></div>
</div>

<script src="/assets/js/modal.js"></script>    
{% include pages-header.html %}
   
{% if page.content contains '<!--more-->' %}
    <div>
        {{ page.content | split:'<!--more-->' | first }}
    </div>
    <input type="checkbox" class="read-more-state" id="{{ page.url }}"/>
    <div class="read-more">
        {{ page.content | split:'<!--more-->' | last }}
    </div>
    <label for="{{ page.url }}" class="read-more-trigger"></label>
{% else %}
    {{ page.content }}
{% endif %}

<!-- {{ content }} -->
   
{% include pages-footer.html %}
</body>
</html>
