<!DOCTYPE HTML>

<html>
{% include pages-head.html %}
<body class="is-loading">
{% include pages-header.html %}
  
{% if content contains '<!--more-->' %}
    <div>
        {{ content | split:'<!--more-->' | first }}
    </div>
    <input type="checkbox" class="read-more-state" id="{{ page.url }}"/>
    <div class="read-more">
        {{ content | split:'<!--more-->' | last }}
    </div>
    <label for="{{ page.url }}" class="read-more-trigger"></label>
{% else %}
    {{ content }}
{% endif %}
  
{% include pages-footer.html %}
</body>
</html>
